<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailSettingsFrom" value="no-reply@onfile.legal" />
    <add key="EmailSettingsTo" value="mzd555@gmail.com" />
    <add key="EmailSettingsPassword" value="Onfilemach1!" />
    <add key="EmailSettingsDisplayName" value="OnFileSystem Health Monitor" />
    <add key="EmailSettingsSMTPServer" value="smtp.zoho.com" />
    <add key="EmailSettingsSMTPServerPort" value="587" />
    <add key="LogPath" value="C:\inetpub\logs\LogFiles\W3SVC1"/>
  </appSettings>
</configuration>